@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}

/* FOR THE SIGN UP PAGE... */
.backpage{
  width: 100%;
}
.userpage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 2rem 0;
}
.logobox{
  height: 2.5rem;
}
.facebooksignBtn{
  text-decoration: none;
  margin: 1.5rem 0 0 0;
  height: 3rem;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background-color:	#4267B2;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  transition: transform .2s; /* Animation */
}
.googlesignBtn{
  cursor: pointer;
  text-decoration: none;
  border: solid 2px;
  margin: 1rem 0 0 0;
  height: 3rem;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 500;
  transition: transform .1s; /* Animation */
}

.facebooksignBtn:hover, .googlesignBtn:hover{
  transform: scale(1.035);
}


  /* for the sign up input...*/

.credform{
  border: none 1px blue;
  width: 28rem;
  margin: 0 0 0 0;
}      
.divinput{
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0 0 0;
}
.divinput label{
  font-weight: 500;
}
.divinput input{
  height: 2rem;
  margin: 0.4rem 0 0.1rem 0;
  padding: 0.5rem 0.9rem;
  border-radius: 4px;
  border: solid 1.6px rgb(169, 169, 169);
  outline-color: #1DB954;
}
.divinput input::placeholder{
  font-size: 125%;
}
.divinput a{
  color: #1DB954;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 400;
  font-size: 90%;
}

.radioInput{
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}
.radioInput input[type='radio']{
  width: 1.3rem;
  accent-color: #1DB954;
  border-color: #ffffff;
}

.radioInput label{
  font-weight: 400;
  margin-top: 0.2rem;
  font-size: 90%;
}
.checkboxInput{
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.checkboxInput input[type='checkbox']{
  accent-color: #1DB954;
}
.checkboxInput label{
  font-size: 90%;
}

/* for the login input... */
.appleloginBtn{
  cursor: pointer;
  text-decoration: none;
  border: solid 2px;
  margin: 1rem 0 0 0;
  height: 3rem;
  width: 24rem;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 500;
  transition: transform .1s; /* Animation */
}
.numberloginBtn{
  cursor: pointer;
  text-decoration: none;
  border: solid 2px;
  margin: 1rem 0 0 0;
  height: 3rem;
  width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 500;
  transition: transform .1s; /* Animation */
}
.appleloginBtn:hover, .numberloginBtn:hover{
  transform: scale(1.035);
}
.optionsignup{
  border: solid 1px black;
  margin: 1rem 0 0 0;
  height: 3rem;
  width: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.optionsignup:hover{
  border: solid 2px black;
}

/* for the index page/landing page.. */
.outerlanding{
  border: none 1px;
  width: 100%;
}
.landing_sec1{
  border: solid 1px;
  height: 5rem;
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
}
.sec1_menu{
  height: fit-content;
  display: flex;
  flex-direction: row;
  color: white;
  margin: 0 0 0 35%;
}
.sec1_menu a{
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.sec1_menu a:hover{
  color: #1DB954;
}
.sec1_menu a span{
  font-size: 100%;
  font-weight: 500;
  margin: 0 0 0 2rem;
}
.landing_sec2{
  background-color: rgb(38, 0, 151);
  height: 29.5rem;
  display: flex;
  flex-direction: row;

}
.landing_sec2 .landing_abtn a{
  cursor: pointer;
  transition: transform .1s; /* Animation */
}
.landing_sec2 .landing_abtn a:hover{
  transform: scale(1.035);
}
.landing_sec3{
  background-color: black;
  height: 22rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing_sec3 .landing_abtn a{
  transition: transform .1s; /* Animation */
}
.landing_sec3 .landing_abtn a:hover{
  transform: scale(1.035);
}
.landing_sec4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 34rem;
  gap: 3rem;
}

.landing_sec5{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(229, 229, 229);
  height: 65rem;
}
.landing_sec5 .plan1, .plan2, .plan3, .plan4, .spec_disc {
  border: none 1px;
  width: 16rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 7px 2px rgb(180, 180, 180);
}

.getstartedbtn{
  transition: transform .1s; /* Animation */
}
.getstartedbtn:hover{
  cursor: pointer;
  transform: scale(1.035);
}

.landing_sec6{
  background-color: black;
  height: 32.5rem;
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem 0 12rem;
}
.footer_top{
  display: flex;
  flex-direction: row;
}
.footer_bottom{
  display: flex;
  flex-direction: row;
}
.footer_links{
  display: flex;
  flex-direction: row;
  gap: 6rem;
  margin: 1rem 0 0 4rem;
}
.footer_links div a{
  cursor: pointer;
  font-size: 105%;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.footer_links div a:hover{
  color:#1DB954;
}
.footer_socials{
  margin: 1rem 0 0 15rem;
  height: 3rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer_socials a{
  cursor: pointer;
  transition: transform .1s;
}
.footer_socials a :hover{
  transform: scale(1.1);
}
.footer_bottom{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 8rem 0 0 1.5rem;
}
.footer_bottom a{
  text-decoration: none;
  cursor: pointer;
}
.footer_bottom a div span:hover{
  color:#1DB954;
}

/* For the homepage..*/
.backpage_2{
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  background-color: rgb(200, 15, 15);
  height: 100vh;
  
  display: flex;
  flex-direction: column;

}
.backpage_2 .toppage{
  height: 88%;
  display: flex;
  flex-direction: row;

}
.toppage .sidenavbar{
  width: 26.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;

}
.music-info{
  display:flex; 
  flex-direction:row; 
  margin:0rem 1rem 0rem 1rem; 
  align-items:center;
  opacity: 0;
}
.controlbox.play .music-info{
  opacity: 1;
}
/*the a buttons (audio buttons) inside the sidenav bar..*/
.sidenavbar .nav1 a, .nav2 a, .nav3 a{
  font-size: 85%;
  font-weight: 700;
  color: rgb(171, 171, 171);
  transition: 0.3s;
}
/* Classlist for the play button and the pause button...*/
.playbutton{
  content: url(../images/playicon_blackfill.svg);
}
.pausebutton{
  content: url(../images/pauseIcon-blackfill.svg);
}

.sidenavbar .nav1 a:hover, .nav2 a:hover, .nav3 a:hover{
  cursor: pointer;
  color: white; 
}

/*for the music player box..bottom of the page..*/
.backpage_2 .controlbox{
  background-color: rgb(24, 24, 24);
  height: 12%;
  box-shadow: 0px 2px 2px 2px rgb(79, 79, 79);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progresscontainer{
 width: 32rem;
 height: 4px;
 border-radius: 5px;
 background-color: rgba(110, 110, 110, 0.678);
}
.progress{
  height: 100%;
  background-color: #fff;
  width: 0;
  border-radius: 5px;
  transition: width 0.1s linear;
}

/*for the content box..right of the sidenav bar...*/
.toppage .contentpage{
  background-color:rgb(24, 24, 24);
  height: 100%;
  width: 80%;
}
.contentpage{
  display: flex;
  flex-direction: column;
  margin: 0 0rem 0 0rem;
  padding: 0;
}
.topbar_cont{
  display: flex;
  flex-direction: row;
  padding: 1rem 1.8rem 1.5rem 1.8rem;
  align-items: center;
}
.profile_div{
  border: solid 0px white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.693);
  border-radius: 2rem;
  width: 11rem;
  height: 2rem;
  color: white;
  cursor: pointer;
}
